.button{
    -fx-background-color:  linear-gradient(#FC0181 15%, #4FDBC5 100%);
    -fx-background-radius: 100px;

}
.button:hover{
    -fx-background-color: #FC0181;
}

.text-field{
    -fx-text-fill: #FC0181;
}